@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-800;
  @apply text-white;
  background-image: url("/bg.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Poppins", sans-serif;
}
