@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-800;
  @apply text-white;
  background-image: url("/bg.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
